.novo-incidente-container {
	width: 100%;
	max-width: 1120px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.novo-incidente-container .content {
	width: 100%;
	padding: 96px;
	background: #f0f0f5;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.novo-incidente-container .content section {
	width: 100%;
	max-width: 380px;
}

.novo-incidente-container .content section h1 {
	margin: 64px 0 32px;
	font-size: 32px;
}

.novo-incidente-container .content section p {
	font-size: 18px;
	color: #737388;
	line-height: 32px;
}

.novo-incidente-container .content form {
	width: 100%;
	max-width: 450px;
}

.novo-incidente-container .content form input,
.novo-incidente-container .content form textarea {
	margin-bottom: 8px;
}
@media screen and (max-width: 1200px) {
	.novo-incidente-container > .content {
		display: flex;
		flex-direction: column;
		padding: 30px;
		margin-bottom:30px;
	}
	.novo-incidente-container .content section {
		width: 100%;
		margin-bottom:30px;
		max-width: 100%;
	}
}